@import "src/assets/styles/colors";
@import "src/assets/styles/constants";

.navbar {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	.navbar-main-menu {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.navbar-main-menu-logo {
			margin-right: 2rem;
			color: #fff;
			background-image: url("./logo.png");
			height: 4rem;
			width: 14rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			@media (max-width: $md) {
				font-size: 2rem;
			}

			@media (max-width: $xs) {
				font-size: 1.5rem;
			}
		}

		.navbar-main-menu-logo:hover {
			color: gray;
			cursor: pointer;
		}

		.navbar-main-menu-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;

			color: rgb(255, 255, 255, 0.7);
			font-size: 1.5rem;

			@media (max-width: $md) {
				font-size: 1rem;
			}
		}

		.navbar-main-menu-item {
			transition: color 0.3s ease;
		}

		.navbar-main-menu-item:hover {
			cursor: pointer;
			color: rgb(255, 255, 255);
		}
	}

	.navbar-account-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.3rem 2rem;
		position: relative;

		.navbar-account-actions {
			display: flex;
			justify-content: space-between;
			gap: 1rem;
		}

		.account-action-create-event:hover {
			color: $colorPrimary;
			cursor: pointer;
		}

		.account-action-signup {
			background-color: rgba($colorPrimary, 0.5);
		}

		.account-action-signup:hover {
			background-color: rgba($colorPrimary, 0.8);
		}

		.account-action-login {
			background-color: rgba(97, 95, 95, 0.5);
		}

		.account-action-login:hover {
			background-color: rgba(97, 95, 95, 0.3);
			color: #e08200;
			border-color: #e08200;
		}
	}

	.navbar-categories-header {
		hr {
			border: 1px solid rgb(43, 43, 43);
			margin: 0px;
		}

		.navbar-categories-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1.5rem;
			padding: 1rem 2rem;
			color: rgb(255, 255, 255, 0.7);
			font-size: 1rem;

			.navbar-main-menu-events {
				color: white;
				align-self: center;
				cursor: pointer;
				transition: color 0.3s ease;
				line-height: 1.25rem;

				&:hover {
					color: gray;
				}
			}

			.vertical-line {
				border-left: 1px solid $colorPrimary;
				height: 1.5rem;
				margin: 0 1rem;
			}

			.navbar-categories {
				display: flex;
				justify-content: space-between;
				gap: 2rem;
				overflow-x: scroll;
			}

			.navbar-categories::-webkit-scrollbar {
				display: none;
			}

			.navbar-categories-menu-item {
				transition: color 0.3s ease;
				white-space: nowrap;
			}

			.navbar-categories-menu-item:hover {
				cursor: pointer;
				color: rgb(255, 255, 255);
			}
		}
	}
}
